@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --Gradient: linear-gradient(to right,  hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  --Pale-Blue: hsl(243, 100%, 93%);
  --Grayish-Blue: hsl(229, 7%, 55%);
  --Dark-Blue: hsl(228, 56%, 26%);
  --Very-Dark-Blue: hsl(229, 57%, 11%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
  background: var(--main-background);
  padding: 3rem;
  background: url(images/bg-mobile.png) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap:5rem;
}

/* sections */

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.first, 
.second {
  background-color: var(--Dark-Blue);
  padding: 4rem;
  width: 100%;
  min-width: 30rem;
}

.first {
  border-radius: 1rem 10rem 1rem 1rem;
}

.second {
  border-radius: 1rem 1rem 1rem 1rem;
  position: relative;
}

/* Image and Icons */

.logo {
  margin-bottom: 3rem;
  animation: moveInLeft 1s ease-in;
}

.icons {
  display: flex;
  gap: 1.5rem;
}

.icon--bg {
  background-color: var(--Very-Dark-Blue);
  padding: 1.2rem;
  border-radius: 1rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  animation: moveInBottom .5s ease-out;
}

/* Typography */

.highlight {
  color: white;
  font-weight: 600;
}

p {
  color: rgb(229, 226, 226);
  font-size: 1.3rem;
  font-weight: 300;
  letter-spacing: .13rem;
  margin: 1.5rem .5rem;
  text-align: center;
}

.p-ani {
  animation: moveInBottom .5s ease-out;
}

/* Progess */

.progress {
  border-radius: 2rem;
  background-color: var(--Very-Dark-Blue);
  padding: 2px;
  height: 15px;
}

.progress__end {
  background-color: white;
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
}

.progress__length {
  width: 85%;
  height: 100%;
  background: var(--Gradient);
  border-radius: inherit;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: .1rem .1rem;
  animation: progressBar 5s ease-out ;
}

.usage {
  display: flex;
  justify-content: space-between;
}

.balance {
  background-color: white;
  padding: .5rem;
  position: absolute;
  border-radius: 1rem;
  left: 50%;
  transform: translateX(-50%);
  min-width: 20rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.balance__gig {
  color: black;
  font-size: 4rem;
  font-weight: 700;
  margin: .5rem;
}

.balance__left {
  transform: translateY(.5rem);
  color: gray;
  font-weight: 600;
}

.attribution { 
  font-size: 1.4rem; 
  text-align: center; 
  color: white;
}

.attribution a { 
  color: hsl(6, 100%, 87%); 
  text-decoration: none;
  font-weight: 600;
}

/* Screen Sizes above 767px */

@media screen and (min-width:768px) {

  body {
    background-image: url(images/bg-desktop.png);
    background-size: contain;
    background-position: bottom;
    background-color: var(--Very-Dark-Blue);
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap:5rem;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    min-width: 70rem;
  }

  .first {
    max-width: 6rem; 
  }

  .second {
    align-self: flex-end;
    max-width: 50rem; 
  }

  p {
    text-align: left;
    font-size: 1.5rem;
  }

  .second {
    max-height: 15rem;
  }

  .balance {
    padding: .5rem;
    position: absolute;
    border-radius: 1rem 1rem 0 1rem;
    top: -20%;
    left: 43%;
    transform: translateX(0%);
  }

  .balance::after {
    content: "";
    display: block;
    width: 2rem;
    height: 2rem;
    background-color: white;
    position: fixed;
    bottom: -25%;
    right: 0%;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
  }
  
  .balance__gig { 
    font-size: 3.5rem;
    font-weight: 800;
    margin: .5rem;
  }

  .balance__left {
    transform: translateY(.5rem);
    color: gray;
    font-weight: 600;
    font-size: 1.2rem;
  }

}

/* Animations */

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-3rem);
  }

  80% {
    transform: translateX(.5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes progressBar {
  0% {
    width: 0;
  }

  100% {
    width: 85%;
  }
}