@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --Gradient: linear-gradient(to right,  hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  --Pale-Blue: hsl(243, 100%, 93%);
  --Grayish-Blue: hsl(229, 7%, 55%);
  --Dark-Blue: hsl(228, 56%, 26%);
  --Very-Dark-Blue: hsl(229, 57%, 11%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
  background: var(--main-background);
  padding: 3rem;
  background: url(images/bg-mobile.png) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  gap:5rem;
}

/* sections */

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.first, 
.second {
  background-color: var(--Dark-Blue);
  padding: 4rem;
  min-width: 30rem;
}

.first {
  border-radius: 1rem 10rem 1rem 1rem;
}

.second {
  border-radius: 1rem 1rem 1rem 1rem;
  position: relative;
}

/* Image and Icons */

.logo {
  margin-bottom: 3rem;
}

.icons {
  display: flex;
  gap: 1.5rem;
}

.icon--bg {
  background-color: var(--Very-Dark-Blue);
  padding: 1.2rem;
  border-radius: 1rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

/* Typography */

.highlight {
  color: white;
  font-weight: 600;
}

p {
  color: rgb(193, 191, 191);
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: .13rem;
  margin: 1.5rem .5rem;
  text-align: center;
}

/* Progess */

.progress {
  border-radius: 2rem;
  background-color: var(--Very-Dark-Blue);
  padding: 2px;
  height: 15px;
}

.progress__end {
  background-color: white;
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
}

.progress__length {
  width: 70%;
  height: 100%;
  background: var(--Gradient);
  border-radius: inherit;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: .1rem .1rem;
}

.usage {
  display: flex;
  justify-content: space-between;
}

.balance {
  background-color: white;
  padding: .5rem;
  position: absolute;
  border-radius: 1rem;
  left: 50%;
  transform: translateX(-50%);
  min-width: 20rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.balance__gig {
  color: black;
  font-size: 4rem;
  font-weight: 700;
  margin: .5rem;
}

.balance__left {
  transform: translateY(.5rem);
  color: gray;
  font-weight: 600;
}

.attribution { 
  font-size: 1.4rem; 
  text-align: center; 
  color: white;
}

.attribution a { 
  color: hsl(6, 100%, 87%); 
  text-decoration: none;
  font-weight: 600;
}