@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --Violet: hsl(257, 40%, 49%);
  --Soft-Magenta: hsl(300, 69%, 71%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  padding: 2rem;
  background-image: url(images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-position:top;
  background-size: contain;
  background-color: var(--Violet);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  min-width: 28rem;
  max-width: 28.5rem;
}

/* Header */

header {
  align-self: flex-start;
}

.logo {
  width: 17rem;
}

/* Text Block */

.container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

.illustration {
  width: 100%;
}

/* Typography */

h1, p {
  text-align: center;
  color: white;
}

h1 {
  font-size: 2.5em;
  font-weight: 500;
}

p {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2.3rem;
  margin: 2rem 0;
}

/* Button */

.text-block a {

}

.btn {
  text-decoration: none;
  text-align: center;
  display: block;
  background-color: white;
  padding: 1.5rem;
  border-radius: 10rem;
  font-size: 1.6rem;
  box-shadow: 0 1rem 1rem hsl(257, 38%, 40%);
  color: var(--Violet);
  transition: all .5s;
}

.btn::after {
  content: "";
  display: inline-block;
  background-color: white;
  transform: scale(2);
  opacity: 1;
}

.btn:hover {
  background-color: var(--Soft-Magenta);
  color: white;
}

/* Icon */

.icons {
  display: flex;
  gap: 1.4rem;
}

.icon {
  font-size: 1.5rem;
  width: 3rem;
  height: 3rem;
  border: 1px solid rgb(213, 210, 210);
  border-radius: 5rem;
  text-align: center;
  padding: .4rem;
  cursor: pointer;
}

.icon:hover {
  animation: moveUp 1s ease-in-out;
}

.fa {
  font-size: 1.3rem;
  color: rgb(213, 210, 210);
  font-weight: 700;
}

.attribution { 
  font-size: 1.4rem; 
  text-align: center;
  margin: 2rem;
}

.attribution a { 
  color: white; 
  text-decoration: none;
  font-weight: 800;
}



@media screen and (min-width:768px) {
  body {
    background-image: url(images/bg-desktop.svg);
    background-size: cover;
    height: 100vh;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
  }

  .container {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    min-width: 70rem;
    max-width: 80rem;
  }
}



















@keyframes moveUp {
  0% {
    transform: translateY(-.1rem);
  }
  
  100% {
    transform: translateY(0);
  }
}