@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --Violet: hsl(257, 40%, 49%);
  --Soft-Magenta: hsl(300, 69%, 71%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  padding: 3rem;
  background-image: url(images/bg-mobile.svg);
  background-position:top;
  background-size: cover;
  background-color: var(--Violet);
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

.header {
  align-self: flex-start;
}

.header__logo {
  width: 12rem;
}

.illustration__img {
  width: 100%;
}



/* Typography */

h1, p {
  text-align: center;
  color: white;
}

h1 {
  font-size: 2.5em;
  font-weight: 500;
}

p {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2.3rem;
  margin: 2rem 0;
}

/* Button */

.btn:link {
  text-decoration: none;
  text-align: center;
  display: block;
  background-color: white;
  padding: 1rem 1.5rem;
  border-radius: 10rem;
  font-size: 1.4rem;
  max-width: 20rem;
}




.attribution { 
  font-size: 1.4rem; 
  text-align: center;
  margin: 2rem;
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
  text-decoration: none;
  font-weight: 500;
}
