@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}

*, 
*::after, 
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "League Spartan", sans-serif;
  padding: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* TYPOGRAPHY */

h1, h2, h3, h4 {
  margin: 0;
}

h1, h2 {
  color: var(--Very-Dark-Magenta);
}

h1 {
  font-size: 3.5rem;
  line-height: 2.8rem;
}

h3 {
  color: var(--White);
  font-size: 1.6rem;
  font-weight: 500;
}

h4 {
  color: var(--Soft-Pink);
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: .5rem;
}

p {
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: var(--Dark-Grayish-Magenta);
  font-weight: 600;
}

/* CONTENT */

.content {
  text-align: center;
  max-width: 310px;
}

.cards, .ratings {
  min-width: 270px;
  max-width: 280px;
}

/* RATINGS */

.ratings {
  margin-bottom: 2rem;
}

.rating {
  background-color: var(--Light-Grayish-Magenta);
  margin: 1.5rem 0;
  border-radius: 5px;
  text-align: center;
  padding: 1.5rem 0;
  width: 100%;
}

.stars {
  display: flex;
  justify-content: center;
  gap: .8rem;
  margin-bottom: 1.2rem;
}
.stars img {
  height: 15px;
  width: 15px;
}

/* CARDS */

.cards {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.card {
  background-color: var(--Very-Dark-Magenta);
  border-radius: 8px;
  padding: 2.5rem;
}

.customer__details {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
}

.customer__image {
  height: 40px;
  width: 40px;
  border-radius: 25px;
}

.customer__review {
  color: var(--White);
  font-weight: 300;
  font-size: 1.5rem;
  margin: 2.5rem 0 0 0;
}





.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

