@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root {
  --Pink: hsl(322, 100%, 66%);
  --Pale-Cyan: hsl(193, 100%, 96%);
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Grayish-Blue: hsl(208, 11%, 55%);
  --Heading-font: "Poppins", sans-serif;
  --Body-font: "Open Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
}

main {
  margin: 0;
}
/* Typography */

h1, h2 {
  font-family: var(--Heading-font);
}

p {
  font-family: var(--Body-font);
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

.hero__paragraph {
  font-size: 1.6rem;
  line-height: 2.3rem;
  color: black;
  margin: 2rem 0 4.5rem 0;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

.callout h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}


.card p {
  font-size: 1.4rem;
  line-height: 2.3rem;
  color: var(--Grayish-Blue);
  margin: 1rem 0;
}

.footer__top p{
  color: rgb(201, 200, 200);
  line-height: 2.2rem;
  font-size: 1.4rem;
}

.footer__top a{
  color: rgb(201, 200, 200);
  line-height: 3rem;
  font-size: 1.5rem;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.footer__bottom p {
  font-size: 1.3rem;
  color: white;
}

/* Buttons */

.btn {
  border-radius: 5rem;
  display: inline-block;
  box-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.141);
  font-weight: 700;
  transition: all .5s;
}

.btn--small {
  font-size: 1.2rem;
  padding: .5rem 2rem;
}

.btn--big {
  font-size: 1.3rem;
  padding: 1.5rem 4rem;
}

.btn-white {
  background-color: white;
  color: black;
}

.btn-white:hover {
  color: grey;
}

.btn-pink {
  background-color: var(--Pink);
  color: white;
}

.btn-pink:hover {
  background-color: hsl(322, 100%, 73%);
  color: white;
}

/* Images */

.header__logo {
  height: 1.5rem;
}

.footer__logo {
  width: 20rem;
}

.hero__image {
  width: 100%;
}

.card__image {
  width: 100%;
}

/* Layouts */

.hero {
  background-color: #c9f0ff41;
  padding: 2rem 1rem 1rem 1rem;
  margin-bottom: 5rem;
  background-image: url(images/bg-hero-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 .7rem;
}

.hero__main {
  text-align: center;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  margin: 8rem 0 0 0;
}

.card {
  margin: 5.5rem 2rem;
  box-shadow: 0rem 0rem 2rem rgba(185, 185, 185, 0.205);
  padding: 2rem 3rem; 
  text-align: center;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  border-radius: 1.5rem;
}

.image-block {
  margin: 3rem 3rem 1.5ren 3rem;
}

.callout {
  margin: 10rem 1.5rem -5rem 1.5rem;
  background-color: white;
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.487);
  padding: 3.5rem 1rem 3rem 1rem;
  text-align: center;
  border-radius: 2rem;
  z-index: 1;
  position: relative;
  align-self: center;
}

/* Footer */

.footer {
  background-color: var(--Very-Dark-Cyan);
  padding: 10rem 3rem 3rem 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer__logo {
  fill: white;
  height: 3rem;
}

.footer__info {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.footer__info .icon {
  height: 1.5rem;
  margin-top: .5rem;
}

.footer__top {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer__sec4 {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.fa {
  border: .1rem solid rgb(201, 200, 200);
  border-radius: 5rem;
  color: rgb(201, 200, 200);
  display: inline-block;
  height: 3rem;
  width: 3rem;
  text-align: center;
  font-size: 1.2rem;
  line-height: 3rem;
  transition: all .5s;
  cursor: pointer;
  margin-top: 2rem;
}

.fa:hover {
  border: .1rem solid var(--Pink);
  color: var(--Pink);
}

.footer__bottom {
  text-align: center;
  margin: 3rem 0;
}

li {
  list-style: none;
}

li a:hover {
  text-decoration: underline;
}

.copyright {
  font-weight: 300;
  font-size: 1rem;
}

.attribution { 
  font-size: 1.4rem; 
  text-align: center;
  margin: 2rem;
  color: white;
}

.attribution a { 
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: all .5s;
}

.attribution a:hover { 
  color: var(--Pink); 
}


@media screen and (min-width:768px) {
    
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero {
    padding: 7rem 1rem 1rem 1rem; 
  }
  
  .text-block {
    width: 90%; 
  }

  .image-block {
    width: 100%;
  }
  
  .hero__paragraph {
    font-size: 1.3rem;
    margin: 2rem 0 2rem 0; 
  }

  .cards {
    max-width: 100rem;
  }

 
  /* Buttons */

  .btn--small {
    font-size: 1.5rem;
    padding: 1rem 3rem;
  }
  
  .btn--big {
    font-size: 1.2rem;
    padding: 1rem 2rem;
  }

  /* Images */

  .header__logo {
    height: 2.5rem; 
  }
  
  /* Layouts */

  .hero {
    padding: 2rem 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .hero__main {
    text-align: left;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    background-image: url(images/bg-hero-desktop.svg);
  }

  .card{
    text-align: left;
    align-items: center;
    gap: 7rem;
    padding: 2rem 2rem 2rem 5rem;
    margin: 2rem 5rem;
  }

  .reverse-card {
    display: flex;
    flex-direction: row-reverse;
    border-radius: 1.5rem;
  }

  .main-card {
    display: flex;
    flex-direction: row;
    border-radius: 1.5rem;
  } 

  .callout {
    width: 70rem;
  }

  .callout h2 {
    font-size: 2.5rem; 
  }

  .footer__elements,
  .hero__elements {
    max-width: 100rem;
  }
  
  .footer__logo {
    align-self: flex-start;
    fill: white;
  }

  .footer__top {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .footer__sec1 {
    grid-column:  1 / 3;
    margin-right: 5rem;
  }

  .footer__sec2 {
    grid-column: 3/4;
  }

  .footer__sec3 {
    grid-column: 4/5;
  }

  .footer__sec4 {
    grid-column: 5/6;
  }

  .copyright {
    text-align: right;
  }

}