:root{
  /* PRIMARY */
--light-red:hsl(0, 100%, 67%);
--orange-yellow: hsl(39, 100%, 56%);
--green-teal: hsl(166, 100%, 37%);
--cobalt-blue: hsl(234, 85%, 45%);

/* BG */
--light-slate-blue: hsl(252, 100%, 67%);
--light-royal-blue: hsl(241, 81%, 54%);

/* CIRCLE */
--violet-blue: hsla(256, 72%, 46%, 1);
--persian-blue: hsla(241, 72%, 46%, 0);

/* Neutral */ 
--white: hsl(0, 0%, 100%);
--pale-blue: hsl(221, 100%, 96%);
--light-lavender: hsl(241, 100%, 89%);
--dark-gray-blue: hsl(224, 30%, 27%); 
}

*, 
*::after, 
*::before{
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  font-family: "Hanken Grotesk", sans-serif;
}


body{
  margin: 0 auto;
}

.attribution { 
  font-size: 1.3rem; 
  text-align: center; 
  margin: 3rem auto;
}

.attribution a { 
  color: hsl(228, 100%, 48%);
}

/* Typography */

h1, h2, h3, p{
  margin: 0;
}

h1{
  font-size: 4.5rem;
  font-weight: 700;
}

h2{
  font-size: 1.6rem;
}

h3{
  font-size: 1.4rem;
}

p{
  font-size: 1.3rem;
}

/* Result Section */

.result{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1.5rem 3.5rem 3rem 3.5rem;
  border-radius: 0 0 2.5rem 2.5rem;
}

.result--bg{
  background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
}

.result__score{
  background: linear-gradient(var(--violet-blue), var(--persian-blue));
  width: 10rem;
  height: 10rem;
  border-radius: 5rem;
  display: flex;
  flex-direction: column;justify-content: center;
  margin: 1.5rem;
}

.result--bg h1, 
.result--bg h2{
  color: var(--white);
}

.result--bg h2{
  margin-bottom: .8rem;
}

.result--bg p{
  color: var(--light-lavender)
}

/* Summary Section */

.summary{
  padding: 2rem;
}

.summary__section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 1rem;
  border-radius: .5rem;
  margin: 1rem auto;
  font-size: 1.2rem;
}

img{
  width: 1.5rem;
  margin-right: 1rem;
}

.summary__item{
  display: flex;
  align-items: center;
  font-weight: 700;
}

.summary__item-score{
  color: grey;
}

.summary__item-score :first-child{
  font-weight: 700;
  color: black;
}

.summary--red{
  background: hsl(0, 100%, 97%);
}

.summary--red > .summary__item-title{
  color: var(--light-red);
}

.summary--yellow{
  background: hsl(39, 100%, 97%);
}

.summary__yellow-title{
  color: var(--orange-yellow);
}

.summary--green{
  background: hsl(166, 100%, 97%);
}

.summary__green-title{
  color: var(--green-teal);
}

.summary--blue{
  background: hsl(234, 85%, 97%);
}

.summary__blue-title{
  color: var(--cobalt-blue);
}


/* Link element */

.btn{
  text-decoration: none;
  background: var(--dark-gray-blue);
  color: var(--white);
  text-align: center;
  padding: 1.2rem 2rem;
  border-radius: 5rem;
  transition: background .4s;
  display: inline-block;
  width: 100%;
  font-size: 1.2rem;
}

.btn:hover{
  background: var(--cobalt-blue);
}

@media screen and (min-width:500px) {

  main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 20px 50px 0 rgba(1, 1, 2, 0.16);
    border-radius: 2rem 2rem;
  }

  .result{
    height: 100%;
    max-width: 250px;
    border-radius: 2rem 2rem;
  }
  
  .summary{
    min-width: 250px;
  }

  .result__score{
    width: 14rem;
    height: 14rem;
    border-radius: 8rem;
  }
}




















