:root {
  --Light-Magenta: hsl(293, 100%, 63%);
  --Light-Violet: hsl(264, 100%, 61%);;

  --White: hsl(0, 0%, 100%);
  --Light-Grayish-Violet-app-background: hsl(0, 0%, 89%);
  --Very-Dark-Desaturated-Violet-submit-button-background: hsl(271, 36%, 24%);
  --Very-Light-Magenta-radio-button-outline: hsl(289, 100%, 72%);

  --gradient-bg: linear-gradient(to left, var(--Light-Magenta), var(--Light-Violet));
  --gradient-bg-right: linear-gradient(to right, var(--Light-Magenta), var(--Light-Violet));
}




*, 
*::after, 
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: tomato;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.card {
  box-shadow: 0px 10px 30px rgba(128, 128, 128, 0.344);
}

.white__phone-header {
  position: absolute;
  background-color: white;
  margin: 0 auto;
  width: 20rem;
  height: 3.5rem;
  border-radius: 1.5rem;
  top: -1.4rem;
  left: 0rem;
  right: 0rem;
  bottom: 0rem;
}

.phone {
  border: 1.5rem solid whitesmoke;
  border-radius: 50px;
  min-width: 350px;
  max-width: 370px;
  overflow: hidden;
}

.phone__header {
  background: var(--gradient-bg);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.5rem 2rem 1.7rem 2rem;
  position: relative;
}

.user__profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.user__image {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: 2px solid white;
}

.icon, .user__name{
  color: rgb(237, 237, 237);
}

.icon {
  font-size: 2rem;
  font-weight: 700;
}

.user__name {
  font-size: 1.7rem;
  margin: 0;
  font-weight: 700;
}

.user__satus {
  color: rgb(219, 218, 218);
}

.phone__body {
  padding: 2rem 1rem;
  background-color: hsl(0, 4%, 91%);
}

.chat {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.chat__group {
  display: flex;
  flex-direction: column;
  gap: .8rem;
  margin: .5rem 0;
}

.left {
  align-self: flex-start; 
  justify-content: flex-start;
}

.left.chat__item{
  background-color: hsla(292, 26%, 83%, 0.581);
  border-radius: 1rem 1rem 1rem 0rem;
  color: rgb(98, 0, 128);
}

.right {
  align-self: flex-end;
  justify-content: flex-end;
}

.right.chat__item {
  background-color: rgb(255, 255, 255);
  border-radius: 1rem 1rem 0rem 1rem;
  color: var(--Very-Dark-Desaturated-Violet-submit-button-background);
}

.message {
  padding: 1rem;
  max-width: 60%;
  font-size: 1.2rem;
  font-weight: 400;
  display: flex;
  gap: 1rem;
}

.message img {
  width: 60px;
  border-radius: 1.3rem;
}

.audio {
  background-color: var(--gradient-bg-right);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 70%;
}

.audio__item {
  display: flex;
  align-items: center;
}























.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

